.popup__button {
  border-radius: 2px;
  border: 0;
  padding: 0;
  min-width: 358px;
  min-height: 50px;
  color: #fff;
  background-color: #000;
  margin-bottom: 36px;
  cursor: pointer;
}

.popup__button:hover {
  background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 620px) {
  .popup__button {
    min-width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}