.popup__heading {
  color: #000;
  max-width: 358px;
  margin: 34px auto 43px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 620px) {
  .popup__heading {
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin: 25px auto 71px;
  }
}