.popup__close {
  position: absolute;
  right: -40px;
  top: -40px;
  min-width: 32px;
  min-height: 32px;
  background-color: transparent;
  border: 0;
  padding: 0;
  background-image: url(../../../images/buttons/close.svg);
  cursor: pointer;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 620px) {
  .popup__close {
    min-width: 20px;
    min-height: 20px;
    background-size: contain;
    top: -37px;
    right: 0;
  }
}