/* desktop-breakpoint */
.profile__occupation {
  grid-area: occupation;
  margin: 0;
  padding-left: 30px;
  align-self: center;
  padding-bottom: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}

@media screen and (max-width: 930px) {
  .profile__occupation {
    max-width: 350px;
  }
}

@media screen and (max-width: 768px) {
  .profile__occupation {
    order: 3;
    padding-left: 0;
    padding-top: 7px;
    margin: auto;
    font-size: 14px;
    line-height: 17px;
    max-width: 250px;
  }
}