.element__button-like {
  border: 0;
  padding-right: 40px;
  align-self: center;
  background-image: url(../../../images/buttons/like.svg);
  background-repeat: no-repeat;
  width: 22px;
  min-height: 19px;
  cursor: pointer;
  background-color: transparent;
}

.element__button-like:hover {
  opacity: .5;
}

@media screen and (max-width: 620px) {
  .element__button-like {
    padding-right: 21px;
    box-sizing: content-box;
  }
}